body {
  margin: 0;

  background-color:#ffffff;
}


/* 위 배너 */
.banner img {
  width: 400%;

  height: 90px;
}


/* 메인 이미지 */
.main img {
  width: 90%;

  margin: 20px;

  border-radius: 20px;
}


/* 중간 전체 */
.content {
  display: flex;

  margin: 50px;
}


/* 왼쪽 카드 */
.left {
  width: 80%;
  height: 300px;
}


/* 카드 이미지 */
.card img {
  width: 90%;

  height: 160px;

  margin-bottom: 20px;

  border-radius: 20px;
}


/* 오른쪽 이미지 */
.right img {
  width: 400px;

  height: 280px;

  border-radius: 20px;
}


/* 아래 배너 */
.middle img {
  width: 90%;

  height: 160px;

  margin: 10px;

}


/* 마지막 배너 */
.footer img {
  width: 100%;

  height: 80px;
}